################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FilmesApi/v16/Server/sqlite3/db.lock
/FilmesApi/bin/Debug/netcoreapp2.1
/FilmesApi/obj
/FilmesController/bin/Debug
/FilmesController1/bin/Debug/netcoreapp2.1
/FilmesController1/obj
/FilmesData/bin/Debug
/FilmesData/obj/Debug
/FilmesData1/bin/Debug/netcoreapp2.1
/FilmesData1/obj
/FilmesDominio/bin/Debug/netstandard2.0
/FilmesDominio/obj
/FilmesController/obj
/FilmesData/obj
Data/bin/Debug/EntityFramework.dll
Data/bin/Debug/EntityFramework.SqlServer.dll
Data/bin/Debug/EntityFramework.SqlServer.xml
Data/bin/Debug/EntityFramework.xml
Data/bin/Debug/FilmesData.dll
Data/bin/Debug/FilmesData.dll.config
Data/bin/Debug/FilmesData.pdb
Data/bin/Debug/FilmesDominio.dll
Data/bin/Debug/FilmesDominio.pdb
Data/bin/Debug/MySql.Data.dll
Data/bin/Debug/MySql.Data.Entity.EF6.dll
Data/bin/Debug/netcoreapp2.1/Data.deps.json
Data/bin/Debug/netcoreapp2.1/Data.dll
Data/bin/Debug/netcoreapp2.1/Data.dll.config
Data/bin/Debug/netcoreapp2.1/Data.pdb
Data/bin/Debug/netcoreapp2.1/Data.runtimeconfig.dev.json
Data/bin/Debug/netcoreapp2.1/Data.runtimeconfig.json
Data/bin/Debug/netcoreapp2.1/Dominio.dll
Data/bin/Debug/netcoreapp2.1/Dominio.pdb
Data/bin/Debug/netcoreapp2.1/FilmesData.deps.json
Data/bin/Debug/netcoreapp2.1/FilmesData.dll
Data/bin/Debug/netcoreapp2.1/FilmesData.dll.config
Data/bin/Debug/netcoreapp2.1/FilmesData.pdb
Data/bin/Debug/netcoreapp2.1/FilmesData.runtimeconfig.dev.json
Data/bin/Debug/netcoreapp2.1/FilmesData.runtimeconfig.json
Data/bin/Debug/netcoreapp2.1/FilmesData1.deps.json
Data/bin/Debug/netcoreapp2.1/FilmesData1.dll
Data/bin/Debug/netcoreapp2.1/FilmesData1.pdb
Data/bin/Debug/netcoreapp2.1/FilmesData1.runtimeconfig.dev.json
Data/bin/Debug/netcoreapp2.1/FilmesData1.runtimeconfig.json
Data/bin/Debug/netcoreapp2.1/FilmesDominio.dll
Data/bin/Debug/netcoreapp2.1/FilmesDominio.pdb
Data/obj/Data.csproj.nuget.cache
Data/obj/Data.csproj.nuget.g.props
Data/obj/Data.csproj.nuget.g.targets
Data/obj/Debug/FilmesData.csproj.CopyComplete
Data/obj/Debug/FilmesData.csproj.CoreCompileInputs.cache
Data/obj/Debug/FilmesData.csproj.FileListAbsolute.txt
Data/obj/Debug/FilmesData.csproj.GenerateResource.cache
Data/obj/Debug/FilmesData.csprojAssemblyReference.cache
Data/obj/Debug/FilmesData.dll
Data/obj/Debug/FilmesData.Migrations.Inicial.resources
Data/obj/Debug/FilmesData.pdb
Data/obj/Debug/netcoreapp2.1/Data.AssemblyInfo.cs
Data/obj/Debug/netcoreapp2.1/Data.AssemblyInfoInputs.cache
Data/obj/Debug/netcoreapp2.1/Data.assets.cache
Data/obj/Debug/netcoreapp2.1/Data.csproj.CopyComplete
Data/obj/Debug/netcoreapp2.1/Data.csproj.CoreCompileInputs.cache
Data/obj/Debug/netcoreapp2.1/Data.csproj.FileListAbsolute.txt
Data/obj/Debug/netcoreapp2.1/Data.csprojAssemblyReference.cache
Data/obj/Debug/netcoreapp2.1/Data.dll
Data/obj/Debug/netcoreapp2.1/Data.pdb
Data/obj/Debug/netcoreapp2.1/FilmesData.AssemblyInfo.cs
Data/obj/Debug/netcoreapp2.1/FilmesData.AssemblyInfoInputs.cache
Data/obj/Debug/netcoreapp2.1/FilmesData.assets.cache
Data/obj/Debug/netcoreapp2.1/FilmesData.csproj.CopyComplete
Data/obj/Debug/netcoreapp2.1/FilmesData.csproj.CoreCompileInputs.cache
Data/obj/Debug/netcoreapp2.1/FilmesData.csproj.FileListAbsolute.txt
Data/obj/Debug/netcoreapp2.1/FilmesData.csprojAssemblyReference.cache
Data/obj/Debug/netcoreapp2.1/FilmesData.dll
Data/obj/Debug/netcoreapp2.1/FilmesData.pdb
Data/obj/Debug/netcoreapp2.1/FilmesData1.AssemblyInfo.cs
Data/obj/Debug/netcoreapp2.1/FilmesData1.AssemblyInfoInputs.cache
Data/obj/Debug/netcoreapp2.1/FilmesData1.assets.cache
Data/obj/Debug/netcoreapp2.1/FilmesData1.csproj.CopyComplete
Data/obj/Debug/netcoreapp2.1/FilmesData1.csproj.CoreCompileInputs.cache
Data/obj/Debug/netcoreapp2.1/FilmesData1.csproj.FileListAbsolute.txt
Data/obj/Debug/netcoreapp2.1/FilmesData1.csprojAssemblyReference.cache
Data/obj/Debug/netcoreapp2.1/FilmesData1.dll
Data/obj/Debug/netcoreapp2.1/FilmesData1.pdb
Dominio/bin/Debug/netstandard2.0/Dominio.deps.json
Dominio/bin/Debug/netstandard2.0/Dominio.dll
Dominio/bin/Debug/netstandard2.0/Dominio.pdb
Dominio/bin/Debug/netstandard2.0/FilmesDominio.deps.json
Dominio/bin/Debug/netstandard2.0/FilmesDominio.dll
Dominio/bin/Debug/netstandard2.0/FilmesDominio.pdb
Dominio/bin/Debug/netstandard2.0/System.ComponentModel.Annotations.dll
Dominio/bin/Debug/netstandard2.0/System.ComponentModel.Annotations.xml
Dominio/obj/Debug/netstandard2.0/Dominio.AssemblyInfo.cs
Dominio/obj/Debug/netstandard2.0/Dominio.AssemblyInfoInputs.cache
Dominio/obj/Debug/netstandard2.0/Dominio.assets.cache
Dominio/obj/Debug/netstandard2.0/Dominio.csproj.CopyComplete
Dominio/obj/Debug/netstandard2.0/Dominio.csproj.CoreCompileInputs.cache
Dominio/obj/Debug/netstandard2.0/Dominio.csproj.FileListAbsolute.txt
Dominio/obj/Debug/netstandard2.0/Dominio.csprojAssemblyReference.cache
Dominio/obj/Debug/netstandard2.0/Dominio.dll
Dominio/obj/Debug/netstandard2.0/Dominio.pdb
Dominio/obj/Debug/netstandard2.0/FilmesDominio.AssemblyInfo.cs
Dominio/obj/Debug/netstandard2.0/FilmesDominio.AssemblyInfoInputs.cache
Dominio/obj/Debug/netstandard2.0/FilmesDominio.assets.cache
Dominio/obj/Debug/netstandard2.0/FilmesDominio.csproj.CoreCompileInputs.cache
Dominio/obj/Debug/netstandard2.0/FilmesDominio.csproj.FileListAbsolute.txt
Dominio/obj/Debug/netstandard2.0/FilmesDominio.csprojAssemblyReference.cache
Dominio/obj/Debug/netstandard2.0/FilmesDominio.dll
Dominio/obj/Debug/netstandard2.0/FilmesDominio.pdb
Dominio/obj/Dominio.csproj.nuget.cache
Dominio/obj/Dominio.csproj.nuget.g.props
Dominio/obj/Dominio.csproj.nuget.g.targets
Dominio/obj/FilmesDominio.csproj.nuget.cache
Dominio/obj/FilmesDominio.csproj.nuget.dgspec.json
Dominio/obj/FilmesDominio.csproj.nuget.g.props
Dominio/obj/FilmesDominio.csproj.nuget.g.targets
Dominio/obj/project.assets.json
Api/bin/Debug/netcoreapp2.1/Api.deps.json
Api/bin/Debug/netcoreapp2.1/Api.dll
Api/bin/Debug/netcoreapp2.1/Api.pdb
Api/bin/Debug/netcoreapp2.1/Api.runtimeconfig.dev.json
Api/bin/Debug/netcoreapp2.1/Api.runtimeconfig.json
Api/bin/Debug/netcoreapp2.1/Controller.dll
Api/bin/Debug/netcoreapp2.1/Controller.pdb
Api/bin/Debug/netcoreapp2.1/Data.dll
Api/bin/Debug/netcoreapp2.1/Data.dll.config
Api/bin/Debug/netcoreapp2.1/Data.pdb
Api/bin/Debug/netcoreapp2.1/Dominio.dll
Api/bin/Debug/netcoreapp2.1/Dominio.pdb
Api/bin/Debug/netcoreapp2.1/FilmesApi.deps.json
Api/bin/Debug/netcoreapp2.1/FilmesApi.dll
Api/bin/Debug/netcoreapp2.1/FilmesApi.pdb
Api/bin/Debug/netcoreapp2.1/FilmesApi.runtimeconfig.dev.json
Api/bin/Debug/netcoreapp2.1/FilmesApi.runtimeconfig.json
Api/bin/Debug/netcoreapp2.1/FilmesController.dll
Api/bin/Debug/netcoreapp2.1/FilmesController.pdb
Api/bin/Debug/netcoreapp2.1/FilmesData.dll
Api/bin/Debug/netcoreapp2.1/FilmesData.dll.config
Api/bin/Debug/netcoreapp2.1/FilmesData.pdb
Api/bin/Debug/netcoreapp2.1/FilmesDominio.dll
Api/bin/Debug/netcoreapp2.1/FilmesDominio.pdb
Api/obj/Debug/netcoreapp2.1/Api.AssemblyInfo.cs
Api/obj/Debug/netcoreapp2.1/Api.AssemblyInfoInputs.cache
Api/obj/Debug/netcoreapp2.1/Api.assets.cache
Api/obj/Debug/netcoreapp2.1/Api.csproj.CopyComplete
Api/obj/Debug/netcoreapp2.1/Api.csproj.CoreCompileInputs.cache
Api/obj/Debug/netcoreapp2.1/Api.csproj.FileListAbsolute.txt
Api/obj/Debug/netcoreapp2.1/Api.csprojAssemblyReference.cache
Api/obj/Debug/netcoreapp2.1/Api.dll
Api/obj/Debug/netcoreapp2.1/Api.pdb
Api/obj/Debug/netcoreapp2.1/Api.RazorAssemblyInfo.cache
Api/obj/Debug/netcoreapp2.1/Api.RazorAssemblyInfo.cs
Api/obj/Debug/netcoreapp2.1/Api.RazorTargetAssemblyInfo.cache
Api/obj/Debug/netcoreapp2.1/FilmesApi.AssemblyInfo.cs
Api/obj/Debug/netcoreapp2.1/FilmesApi.AssemblyInfoInputs.cache
Api/obj/Debug/netcoreapp2.1/FilmesApi.assets.cache
Api/obj/Debug/netcoreapp2.1/FilmesApi.csproj.CopyComplete
Api/obj/Debug/netcoreapp2.1/FilmesApi.csproj.CoreCompileInputs.cache
Api/obj/Debug/netcoreapp2.1/FilmesApi.csproj.FileListAbsolute.txt
Api/obj/Debug/netcoreapp2.1/FilmesApi.csprojAssemblyReference.cache
Api/obj/Debug/netcoreapp2.1/FilmesApi.dll
Api/obj/Debug/netcoreapp2.1/FilmesApi.pdb
Api/obj/Debug/netcoreapp2.1/FilmesApi.RazorAssemblyInfo.cache
Api/obj/Debug/netcoreapp2.1/FilmesApi.RazorAssemblyInfo.cs
Api/obj/Debug/netcoreapp2.1/FilmesApi.RazorTargetAssemblyInfo.cache
Controller/bin/Debug/netcoreapp2.1/Controller.deps.json
Controller/bin/Debug/netcoreapp2.1/Controller.dll
Controller/bin/Debug/netcoreapp2.1/Controller.pdb
Controller/bin/Debug/netcoreapp2.1/Data.dll
Controller/bin/Debug/netcoreapp2.1/Data.dll.config
Controller/bin/Debug/netcoreapp2.1/Data.pdb
Controller/bin/Debug/netcoreapp2.1/Dominio.dll
Controller/bin/Debug/netcoreapp2.1/Dominio.pdb
Controller/bin/Debug/netcoreapp2.1/FilmesController.deps.json
Controller/bin/Debug/netcoreapp2.1/FilmesController.dll
Controller/bin/Debug/netcoreapp2.1/FilmesController.pdb
Controller/bin/Debug/netcoreapp2.1/FilmesController1.deps.json
Controller/bin/Debug/netcoreapp2.1/FilmesController1.dll
Controller/bin/Debug/netcoreapp2.1/FilmesController1.pdb
Controller/bin/Debug/netcoreapp2.1/FilmesData.dll
Controller/bin/Debug/netcoreapp2.1/FilmesData.dll.config
Controller/bin/Debug/netcoreapp2.1/FilmesData.pdb
Controller/bin/Debug/netcoreapp2.1/FilmesData1.dll
Controller/bin/Debug/netcoreapp2.1/FilmesData1.pdb
Controller/bin/Debug/netcoreapp2.1/FilmesDominio.dll
Controller/bin/Debug/netcoreapp2.1/FilmesDominio.pdb
Controller/obj/Debug/netcoreapp2.1/Controller.AssemblyInfo.cs
Controller/obj/Debug/netcoreapp2.1/Controller.AssemblyInfoInputs.cache
Controller/obj/Debug/netcoreapp2.1/Controller.assets.cache
Controller/obj/Debug/netcoreapp2.1/Controller.csproj.CopyComplete
Controller/obj/Debug/netcoreapp2.1/Controller.csproj.CoreCompileInputs.cache
Controller/obj/Debug/netcoreapp2.1/Controller.csproj.FileListAbsolute.txt
Controller/obj/Debug/netcoreapp2.1/Controller.csprojAssemblyReference.cache
Controller/obj/Debug/netcoreapp2.1/Controller.dll
Controller/obj/Debug/netcoreapp2.1/Controller.pdb
Controller/obj/Debug/netcoreapp2.1/FilmesController.AssemblyInfo.cs
Controller/obj/Debug/netcoreapp2.1/FilmesController.AssemblyInfoInputs.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController.assets.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController.csproj.CopyComplete
Controller/obj/Debug/netcoreapp2.1/FilmesController.csproj.CoreCompileInputs.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController.csproj.FileListAbsolute.txt
Controller/obj/Debug/netcoreapp2.1/FilmesController.csprojAssemblyReference.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController.dll
Controller/obj/Debug/netcoreapp2.1/FilmesController.pdb
Controller/obj/Debug/netcoreapp2.1/FilmesController1.AssemblyInfo.cs
Controller/obj/Debug/netcoreapp2.1/FilmesController1.AssemblyInfoInputs.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController1.assets.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController1.csproj.CopyComplete
Controller/obj/Debug/netcoreapp2.1/FilmesController1.csproj.CoreCompileInputs.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController1.csproj.FileListAbsolute.txt
Controller/obj/Debug/netcoreapp2.1/FilmesController1.csprojAssemblyReference.cache
Controller/obj/Debug/netcoreapp2.1/FilmesController1.dll
Controller/obj/Debug/netcoreapp2.1/FilmesController1.pdb
Api/obj/Api.csproj.nuget.cache
Api/obj/Api.csproj.nuget.g.props
Api/obj/Api.csproj.nuget.g.targets
Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Api/obj/FilmesApi.csproj.nuget.cache
Api/obj/FilmesApi.csproj.nuget.dgspec.json
Api/obj/FilmesApi.csproj.nuget.g.props
Api/obj/FilmesApi.csproj.nuget.g.targets
Api/obj/project.assets.json
Controller/obj/Controller.csproj.nuget.cache
Controller/obj/Controller.csproj.nuget.g.props
Controller/obj/Controller.csproj.nuget.g.targets
Controller/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Controller/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Controller/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Controller/obj/FilmesController.csproj.nuget.cache
Controller/obj/FilmesController.csproj.nuget.dgspec.json
Controller/obj/FilmesController.csproj.nuget.g.props
Controller/obj/FilmesController.csproj.nuget.g.targets
Controller/obj/FilmesController1.csproj.nuget.cache
Controller/obj/FilmesController1.csproj.nuget.dgspec.json
Controller/obj/FilmesController1.csproj.nuget.g.props
Controller/obj/FilmesController1.csproj.nuget.g.targets
Controller/obj/project.assets.json
Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Data/obj/FilmesData.csproj.nuget.cache
Data/obj/FilmesData.csproj.nuget.dgspec.json
Data/obj/FilmesData.csproj.nuget.g.props
Data/obj/FilmesData.csproj.nuget.g.targets
Data/obj/FilmesData1.csproj.nuget.cache
Data/obj/FilmesData1.csproj.nuget.dgspec.json
Data/obj/FilmesData1.csproj.nuget.g.props
Data/obj/FilmesData1.csproj.nuget.g.targets
Data/obj/project.assets.json
.vs/Api/v15/.suo
.vs/Api/v15/Server/sqlite3/db.lock
.vs/Api/v15/Server/sqlite3/storage.ide
.vs/Api/v15/Server/sqlite3/storage.ide-shm
.vs/Api/v15/Server/sqlite3/storage.ide-wal
